* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  font-family: "Roboto", sans-serif;
}

.container {
  width: min(100%, 70em);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.nav-logo {
  font-size: 34px;
  font-weight: 700;
}

.nav ul {
  list-style-type: none;
  gap: 32px;
  display: inline-flex;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.main .ulmain .limain .lin-main1 {
  lighting-color: brown;
  text-decoration: none;
}

.main-small {
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 600;
}
.main-small::before {
  position: relative;
  top: 5px;
  content: "\2022";
  color: #00f07d;
  font-size: 27px;
  padding: 0.1em;
}

.section-main1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #122250;
  margin-left: 88px;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
h1 {
  max-width: 562px;
  font-size: 2.75rem;
  line-height: 4.125rem;
  text-align: left;
}

.texto-md {
  font-size: 1.25rem;
  line-height: 1.87rem;
}
.parrafo-google {
  color: #ff2eab;
}

.main-header {
  display: flex;
  margin: 0 auto;
  gap: 142px;
  flex-wrap: wrap;
}
.main-header header {
  width: min(100%, 562px);
}

.main-fig {
  background-image: url("../images/figure.png");
  background-repeat: no-repeat;
  background-position: right center;

  margin-right: 1rem;
  padding-top: 76px;
  padding-bottom: 82px;
}

.main-fig img {
  width: 400px;
  position: relative;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-imagenes {
  background-color: #c906fa;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
}

.section-imagenes img {
  width: 100%;
}

.texto {
  padding-top: 96px;
  padding-bottom: 87px;
  background: linear-gradient(
    rgba(201, 214, 250, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  text-align: center;
}

.session-articulos {
  margin: auto;
  padding-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1104px;
}

.texto .sessionA {
  padding-bottom: 48px;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #122250;
}

.tex-A {
  font-size: 18px;
  font-weight: 400;
  color: #122250;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}

h6 {
  color: #122250;

  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.p-session {
  font-size: 14px;
  font-weight: 400;
  color: #122250;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.parrafo {
  max-width: 232px;
  margin: auto;
}

.icon-test {
  width: 68px;
  height: 68px;

  border-radius: 50%;
}

.footer {
  max-width: 750px;
  padding-top: 183px;

  margin: auto;
}
.texto-footer {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #366bff;
  padding-bottom: 60px;
}
.figure {
  max-width: 750px;
  gap: 20px;
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 97px;
}

.figure img {
  border-radius: 50%;
  width: 60px;
}

.icon-test {
  width: 68px;
  height: 68px;
  border: 1px solid #90afbd;
  background-color: #f9fbfc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.figure img {
  border-radius: 50%;
  width: 60px;
}

@media (max-width: 472px) {
  h1 {
    font-size: 25px;
    line-height: 1.5;
  }
}
